<header
  ...attributes
>
  <div class='h-full p-2 flex flex-row items-center'>
    <img src='/dist/hub-logo.svg' class='h-full w-auto' alt='hub icon'/>
    <div class='flex-1'/>
    {{#if this.blockService.editing}}
      <Button
        class='mr-2'
        @icon="far fa-save"
        @noShadow={{true}}
        @size='small'
        {{on 'click' this.save}}
      />
      <Button
        class='mr-2'
        @icon="fas fa-times"
        @noShadow={{true}}
        @size='small'
        {{on 'click' this.cancel}}
      />
    {{else}}
      <Button
        class='mr-2'
        @icon="far fa-pencil-alt"
        @noShadow={{true}}
        @size='small'
        {{on 'click' this.edit}}
      />
    {{/if}}
    <ThemeToggle />
  </div>
</header>