<div
  ...attributes
  {{did-insert this.initialize}}
  {{did-update this.onWriteToPayload this.launchers}}
>
  <h4>Edit: Launcher</h4>
  <div>{{@item.id}}</div>
  <div>{{@item.order}}</div>
  <div>{{@item.type}}</div>
  <div>{{@item.payload}}</div>


  {{#each this.launchers as |launcher|}}
    <div
      class='flex flex-col'
      {{did-update this.onWriteToPayload launcher.icon launcher.url}}
    >
      <div class='flex flex-row'>
        <div>Icon</div>
        <Innput @value={{launcher.icon}} />
      </div>
      <div class='flex flex-row'>
        <div>Url</div>
        <Innput @value={{launcher.url}} />
      </div>
      <Button
        @icon="fas fa-times-circle"
        {{on 'click' (fn this.onRemoveLauncher launcher)}}
      />
    </div>
  {{/each}}

  <Button
    @icon="fas fa-plus"
    {{on 'click' this.onAddLauncher}}
  />

  <Button
    @icon="fas fa-arrow-left"
    {{on 'click' (fn @actions.moveLeft @item)}}
  />
  <Button
    @icon="fas fa-arrow-right"
    {{on 'click' (fn @actions.moveRight @item)}}
  />
  <Button
    @icon="fas fa-times-circle"
    {{on 'click' (fn @actions.remove @item)}}
  />
</div>