<div
  ...attributes
>
  <div class='h-full flex flex-row px-4 py-4'>
    {{#if this.blockService.editing}}
      <BasicDropdown
        @calculatePosition={{this.calculateSelectionPosition}}
        as |dropdown|
      >
        <dropdown.Trigger class='flex flex-1' style='order:9999'>
          <div class='w-full h-full py-2 px-2 border-dashed border-black border-4 rounded-lg flex flex-col justify-center items-center'>
            <div>
              <i class="fas fa-plus"/>
            </div>
          </div>
        </dropdown.Trigger>
        <dropdown.Content>
          <div class='flex flex-col'>
            {{#each this.blockTypes as |type|}}
              <Button
                @label={{type}}
                {{on 'click' (pipe-action dropdown.actions.close (fn this.addBlock type))}}
              />
            {{/each}}
          </div>
        </dropdown.Content>
      </BasicDropdown>
      {{#if (gt this.blocks.length 0)}}
        {{#each this.blocks as |item|}}
          {{#let (component item.component) as |EditBlock|}}
            {{!-- template-lint-disable no-inline-styles --}}
            {{!-- template-lint-disable style-concatenation --}}
            <EditBlock
              style="order:{{item.block.order}}"
              class="flex-1"
              @item={{item.block}}
              @actions={{this.editActions}}
            />
          {{/let}}
        {{/each}}
      {{/if}}
    {{else}}
      {{#if (gt this.blocks.length 0)}}
        {{#each this.blocks as |item|}}
          <div style="order:{{item.block.order}}">
            <h4>{{item.block.type}} - {{item.block.id}}</h4>
          </div>
        {{/each}}
      {{else}}
        {{!-- <div class='flex-1'/>
          <Box class='max-w-md flex flex-row self-start items-center' @type='info'>
            <i class="fas fa-exclamation mx-4"/>
            <div class='flex-1'>
              Click the edit button at the top right to add blocks to your hub.
            </div>
          </Box>
        <div class='flex-1'/> --}}
        <UiTest />
      {{/if}}
    {{/if}}
  </div>
</div>