<div
  ...attributes
>
  <BasicDropdown as |dropdown|>
    <dropdown.Trigger>
      <i class="fas fa-plus-circle"></i>
    </dropdown.Trigger>
    <dropdown.Content>
      {{#each this.blockTypes as |type|}}
        <div
          style='color: black'
          {{on 'click' (pipe-action dropdown.actions.close (fn this.addBlock type))}}
        >
          {{type}}
        </div>
      {{/each}}
    </dropdown.Content>
  </BasicDropdown>
  {{#each this.blocks as |block|}}
    <div>
      <div>--start--</div>
      <div>{{block.id}}</div>
      <div>{{block.order}}</div>
      <div>{{block.type}}</div>
      <div>{{block.payload}}</div>
      <div
        {{on 'click' (fn this.removeBlock block)}}
      >
        <i class="fas fa-times-circle"/>
      </div>
      <div>--end--</div>
    </div>
  {{/each}}
</div>