<div
  ...attributes
  class='content'
>
  <div class='h-full flex flex-row pl-4 py-4'>
    {{#if this.blockService.editing}}
      <BasicDropdown
        @calculatePosition={{this.calculateSelectionPosition}}
        as |dropdown|
      >
        {{!-- template-lint-disable no-inline-styles --}}
        {{!-- template-lint-disable style-concatenation --}}
        <dropdown.Trigger
          class='flex flex-1'
          style='order:9999'
        >
          <Button
            class='flex flex-col w-full h-full items-center justify-center mr-4 border-dashed'
            @icon='fas fa-plus'
            @type='ghost'
            @noShadow={{true}}
          />
        </dropdown.Trigger>
        <dropdown.Content
          style='background-color:var(--h-content-bg)'
        >
          <div class='flex flex-col'>
            {{#each this.blockTypes as |type|}}
              <Button
                class='flex justify-center items-center mb-2'
                @label={{type}}
                @noShadow={{true}}
                {{on 'click' (pipe-action dropdown.actions.close (fn this.addBlock type))}}
              />
            {{/each}}
          </div>
        </dropdown.Content>
      </BasicDropdown>
      {{#if (gt this.blocks.length 0)}}
        {{#each this.blocks as |item|}}
          {{#let (component item.component) as |EditBlock|}}
            {{!-- template-lint-disable no-inline-styles --}}
            {{!-- template-lint-disable style-concatenation --}}
            <EditBlock
              style="order:{{item.block.order}}"
              class="flex-1 mr-4"
              @item={{item.block}}
              @actions={{this.editActions}}
            />
          {{/let}}
        {{/each}}
      {{/if}}
    {{else}}
      {{#if (gt this.blocks.length 0)}}
        {{#each this.blocks as |item|}}
          <div style="order:{{item.block.order}}">
            <h4>{{item.block.type}} - {{item.block.id}}</h4>
          </div>
        {{/each}}
      {{else}}
        <div class='flex-1'/>
          <Box class='max-w-md flex flex-row self-start items-center' @type='info'>
            <i class="fas fa-exclamation mx-4"/>
            <div class='flex-1'>
              Click the edit button at the top right to add blocks to your hub.
            </div>
          </Box>
        <div class='flex-1'/>
        {{!-- <UiTest /> --}}
      {{/if}}
    {{/if}}
  </div>
</div>