<div
  ...attributes
>
  <div class="flex flex-row">
    <BasicDropdown as |dropdown|>
      <dropdown.Trigger>
        <Button
          @icon="fas fa-plus"
        />
      </dropdown.Trigger>
      <dropdown.Content>
        <div class="flex flex-col">
          {{#each this.blockTypes as |type|}}
            <Button
              @icon="fas fa-angle-right"
              @label={{type}}
              {{on 'click' (pipe-action dropdown.actions.close (fn this.addBlock type))}}
            />
          {{/each}}
        </div>
      </dropdown.Content>
    </BasicDropdown>
    <Button
      @icon="far fa-save"
      {{on 'click' this.save}}
    />
  </div>
  <div class='flex flex-row'>
    {{#each this.blocks as |item|}}
      {{#let (component item.component) as |EditBlock|}}
        {{!-- template-lint-disable no-inline-styles --}}
        {{!-- template-lint-disable style-concatenation --}}
        <EditBlock
          style="order:{{item.block.order}}"
          class="flex-1"
          @item={{item.block}}
          @actions={{this.editActions}}
        />
      {{/let}}
    {{/each}}
  </div>
</div>