<div
  ...attributes
  {{did-insert this.initialize}}
  {{did-update this.onWriteToPayload this.accessToken}}
>
  <h4>Edit: Twitch</h4>
  <div>{{@item.id}}</div>
  <div>{{@item.order}}</div>
  <div>{{@item.type}}</div>
  <div>{{@item.payload}}</div>
  <Innput @value={{this.accessToken}} />
  <p>Generate a token with the scope permission <strong>user_read</strong></p>
  <Button
    @icon="fab fa-twitch"
    {{on 'click' this.onLaunchTwitchTokenUrl}}
  />
  <Button
    @icon="fas fa-arrow-left"
    {{on 'click' (fn @actions.moveLeft @item)}}
  />
  <Button
    @icon="fas fa-arrow-right"
    {{on 'click' (fn @actions.moveRight @item)}}
  />
  <Button
    @icon="fas fa-times-circle"
    {{on 'click' (fn @actions.remove @item)}}
  />
</div>