<div
  ...attributes
  class="buttonn{{if @type (concat '-' @type)}} flex transition text-base font-semibold rounded-lg {{unless @noShadow 'shadow-md'}} focus:outline-none focus:ring-2 cursor-pointer {{if (eq @size "small") 'h-7 px-2' 'h-10 px-4'}}"
>
  <div class='flex items-center self-center h-6'>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{#if @icon}}
        <i class="{{@icon}}"></i>
      {{/if}}
      {{#if @label}}
        <span class="font-bold {{if @icon 'ml-2'}}">{{@label}}</span>
      {{/if}}
    {{/if}}
  </div>
</div>