<button
  ...attributes
  class="buttonn{{if @type (concat '-' @type)}} transition text-base font-semibold px-4 rounded-lg {{unless (eq @type 'transparent') 'shadow-md'}} focus:outline-none focus:ring-2 h-10"
  type="button"
>
  <div class='flex items-center h-6'>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{#if @icon}}
        <i class="{{@icon}}"></i>
      {{/if}}
      {{#if @label}}
        <span class="font-bold {{if @icon 'ml-2'}}">{{@label}}</span>
      {{/if}}
    {{/if}}
  </div>
</button>