<div class='flex flex-row'>
  <div class='flex flex-col mr-4'>
    <h4>Default</h4>
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
      @size='small'
    />
  </div>

  <div class='flex flex-col mr-4'>
    <h4>Ghost</h4>
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @type='ghost'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
      @type='ghost'
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
      @type='ghost'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @type='ghost'
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
      @type='ghost'
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
      @type='ghost'
      @size='small'
    />
  </div>

  <div class='flex flex-col mr-4'>
    <h4>Transparent</h4>
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @type='transparent'
      @noShadow={{true}}
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
      @type='transparent'
      @noShadow={{true}}
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
      @type='transparent'
      @noShadow={{true}}
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @type='transparent'
      @noShadow={{true}}
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
      @type='transparent'
      @noShadow={{true}}
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
      @type='transparent'
      @noShadow={{true}}
      @size='small'
    />
  </div>

  <div class='flex flex-col mr-4'>
    <h4>Danger</h4>
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @type='danger'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
      @type='danger'
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
      @type='danger'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @type='danger'
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @icon='fas fa-plus'
      @label='Add'
      @type='danger'
      @size='small'
    />
    <Button
      class='mb-4 self-start'
      @label='Add'
      @type='danger'
      @size='small'
    />
  </div>
  <div class='flex w-64 flex-col mr-4'>
    <div>Input</div>
    <Innput />
    <div>Text</div>
    <Innput @value='value text'/>
    <div>Placeholder</div>
    <Innput @placeholder='placeholder text' @value=""/>
  </div>

  <div class='flex w-64 flex-col mr-4'>
    <div>Default</div>
    <Box
      class='w-full'
      @type='default'
    >
      Content Goes Here
    </Box>
    <div>Info</div>
    <Box
      class='w-full'
      @type='info'
    >
      Content Goes Here
    </Box>
    <div>Media</div>
    <MediaBox
      @imageSrc='https://static-cdn.jtvnw.net/jtv_user_pictures/aa68742d-ae1f-4fb7-9d0c-e1756d5204b0-profile_image-300x300.jpg'
      @imageAlt='pokelawls'
      @imageUrl='https://tailwindcss.com/docs/'
      @url='https://youtube.com/'
    >
      <div class='text-left ml-2'>Howdy</div>
      <div class='break-words text-left ml-2'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
      <div class='break-words text-left ml-2 h-text-green'>
        <i class="fas fa-chevron-up"/>
        <span>12345</span>
      </div>
      <div class='break-words text-left ml-2 h-text-blue'>
        <i class='far fa-stopwatch'/>
        <span>1h 32m</span>
      </div>
      <div class='break-words text-left ml-2 h-text-red'>
        <i class="fas fa-circle"/>
        <span>12345</span>
      </div>
    </MediaBox>
  </div>
</div>