<div
  ...attributes
>
  <Box
    @type='default'
  >
    <div class='flex flex-row items-center'>
      <div class='font-bold'>Valorant</div>
      <div class='flex-1'/>
      <Button
        @icon="fas fa-arrow-left"
        @type='transparent'
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.moveLeft @item)}}
      />
      <Button
        @icon="fas fa-arrow-right"
        @type='transparent'
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.moveRight @item)}}
      />
      <Button
        @icon="fas fa-times-circle"
        @type="danger"
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.remove @item)}}
      />
    </div>
    <div class='mt-2'>
      <i class="far fa-raygun" />
    </div>
  </Box>
</div>