{{!-- template-lint-disable no-invalid-interactive --}}
<div
  ...attributes
  {{did-insert this.initialize}}
>
  <div class='truncate mb-2 text-xl'>
    <strong><span class='lowercase'>r/</span><span class='uppercase'>{{this.reddit}}</span></strong>
  </div>
  {{#if this.isLoading}}
    <div class='flex flex-1 flex-col items-center'>
      <ActivityIndicator />
    </div>
  {{else if this.isFailure}}
    <Box @type='info'>
      <i class="fas fa-exclamation px-4"/>
      <span>Please enter a valid subreddit.</span>
    </Box>
  {{else}}
    <div class='flex flex-1 flex-col'>
      {{#each this.posts as |post|}}
        <MediaBox
          class='mb-2'
          @imageSrc={{post.thumbnail}}
          @imageAlt={{post.title}}
          @imageUrl={{post.postUrl}}
          @url={{post.commentsUrl}}
        >
          <div class='break-words text-left ml-2'>
            {{post.title}}
          </div>
          {{#if (eq post.type 'nsfw')}}
            <div class='text-left ml-2'>NSFW</div>
          {{else if (eq post.type 'spoiler')}}
            <div class='text-left ml-2'>Spoiler</div>
          {{/if}}
          <div></div>
          <div class='break-words text-left ml-2 h-text-green'>
            <i class="fas fa-chevron-up"/>
            <span>{{post.upVotes}}</span>
          </div>
        </MediaBox>
      {{/each}}
    </div>
  {{/if}}
</div>