<div
  ...attributes
  {{did-insert this.initialize}}
  {{did-update this.onWriteToPayload this.reddit}}
>
  <Box
    @type='default'
  >
  <div class='flex flex-row items-center'>
    <div class='font-bold'>Reddit</div>
    <div class='flex-1'/>
      <Button
        @icon="fas fa-arrow-left"
        @type='transparent'
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.moveLeft @item)}}
      />
      <Button
        @icon="fas fa-arrow-right"
        @type='transparent'
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.moveRight @item)}}
      />
      <Button
        @icon="fas fa-times"
        @type="danger"
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.remove @item)}}
      />
    </div>
    <Innput
      class='mt-2'
      @placeholder='videos'
      @value={{this.reddit}}
    />
  </Box>
</div>