<div
  ...attributes
  {{did-insert this.initialize}}
  {{did-update this.onWriteToPayload this.launchers}}
>
  <Box
    @type='default'
  >
    <div class='flex flex-row items-center'>
      <div class='font-bold'>Launcher</div>
      <div class='flex-1'/>
      <Button
        @icon="fas fa-arrow-left"
        @type='transparent'
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.moveLeft @item)}}
      />
      <Button
        @icon="fas fa-arrow-right"
        @type='transparent'
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.moveRight @item)}}
      />
      <Button
        @icon="fas fa-times"
        @type="danger"
        @noShadow={{true}}
        @size='small'
        {{on 'click' (fn @actions.remove @item)}}
      />
    </div>

    <div class='mt-2'>

      {{#each this.launchers as |launcher|}}
        <Box
          class='flex flex-row mb-2'
          @type='info'
          {{did-update this.onWriteToPayload launcher.icon launcher.url}}
        >
          <div class='flex-1 mr-2'>
            <div>Icon "<i class="{{launcher.icon}}"/>"</div>
            <Innput @value={{launcher.icon}} />
            <div>Url</div>
            <Innput @value={{launcher.url}} />
          </div>
          <div class='flex flex-col'>
            <Button
              class='mb-2 self-start'
              @icon="fas fa-times"
              @type="danger"
              @noShadow={{true}}
              @size='small'
              {{on 'click' (fn this.onRemoveLauncher launcher)}}
            />
            <Button
              class='mb-2 self-start'
              @icon="fas fa-arrow-up"
              @noShadow={{true}}
              @size='small'
              {{on 'click' (fn this.onMoveLauncherUp launcher)}}
            />
            <Button
              class='self-start'
              @icon="fas fa-arrow-down"
              @noShadow={{true}}
              @size='small'
              {{on 'click' (fn this.onMoveLauncherDown launcher)}}
            />
          </div>

        </Box>
      {{/each}}

      <div class='flex flex-row'>
        <Button
          @icon="fas fa-plus"
          @label="Add Icon"
          {{on 'click' this.onAddLauncher}}
        />
        <Button
          class='ml-2'
          @icon="fas fa-external-link-alt"
          @label="Get Icon"
          {{on 'click' this.onLaunchIconSelection}}
        />
      </div>
    </div>
  </Box>
</div>