<div
  ...attributes
  class='box-media py-2 px-2 shadow-md rounded-lg text-lg'
>
  <div class='flex w-full flex-row'>
    <a class='no-underline' href={{@imageUrl}}>
      <div class='box-media--image rounded-lg overflow-hidden flex flex-col justify-center items-center cursor-pointer'>
        <img src={{@imageSrc}} alt={{@imageAlt}} />
      </div>
    </a>
    <div class='box-media--content flex-1 flex flex-col cursor-pointer'>
      <a class='no-underline' href={{@url}}>
        <div class='flex flex-column flex-wrap'>
          {{#each @tags as |tag|}}
            <div class='box-media__tag box-media__tag--{{tag.type}} flex flex-row items-center rounded-lg ml-2 px-2 '>
              <i class='{{tag.icon}}'/>
              <div class='pl-2 font-bold'>{{tag.label}}</div>
            </div>
          {{/each}}
        </div>
        {{yield}}
      </a>
    </div>
  </div>
</div>