{{!-- template-lint-disable no-invalid-interactive --}}
<div
  ...attributes
  {{did-insert this.initialize}}
>
  {{#if this.isLoading}}
    <div class='flex flex-1 flex-col items-center'>
      <ActivityIndicator />
    </div>
  {{else}}
    <div class='flex flex-1 flex-col h-full'>
      {{#each this.fetchFeeds.lastSuccessful.value as |entry index|}}
        <div class='truncate mb-2 text-xl {{if (gt index 0) 'mt-2'}}'>
          <strong><span class='lowercase'></span><span class='uppercase'>{{entry.title}}</span></strong>
        </div>
        {{#if entry.isFailure}}
          <Box @type='info'>
            <i class="fas fa-exclamation px-4"/>
            <span>Please enter a valid RSS Feed.</span>
          </Box>
        {{else}}
          <div class='flex flex-1 flex-col overflow-y-auto'>
            {{#each entry.posts as |post|}}
              <MediaBox
                class='mb-2'
                @imageSrc={{if post.hasThumbnail post.thumbnail this.fallbackThumbnail}}
                @imageAlt={{post.title}}
                @imageUrl={{post.url}}
                @url={{post.url}}
              >
                <div class='break-words text-left ml-2'>
                  {{post.title}}
                </div>
                <div class='break-words text-left ml-2 h-text-blue'>
                  <i class="far fa-stopwatch"/>
                  <span>{{post.pubDate}}</span>
                </div>
              </MediaBox>
            {{/each}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>